<html>
<section>
    <h2>
        Lista de Quizzes
    </h2>
    
    <%for (let i=0;i<quizzes.length;i++) { %>
        <p>
        <%=quizzes[i].question%>: <%=quizzes[i].answer%>     
    </p>  
        

        <% } %>
    

    
</section>
</html>