

<section>
    <h2> Autor</h2>

    <p>El autor del portal de Quizzes es Marina</p>


    <img src="/images/—Pngtree—female avatar vector icon_3725439.png" width="100"> 

    <hr/>

</section>


    

