<!DOCTYPE html>
<html>
  <head>
    <title><Quizzes-P7></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <header>
        <h1>Portal de Quizzes-P7</h1>
      </header>
      <nav>
           <a href="/">Home</a>
           <a href="/credits">Créditos</a>
           <a href="/quizzes">Quizzes</a>
          
      </nav>
      
      <%- body %>

<footer>
    <hr/>
    <small> Quizzes de CORE</small>
    <hr/>
   </footer>
  </body>
</html>
